*{
    box-sizing: border-box;
}

/* element selector */
body{
    background-color: aqua;
    font-family: sans-serif;
}
/* class selector */
.text-primary{
    color: red;

}
.col{
    width: 25%;
    float: left;
}
.img-responsive{
    width: 100%;
    max-height: 500px;
}
.circle{
    border-radius: 50%;
}
.rounded{
    border-radius: 20px;
}
.p-1{
    padding: 10px;
}
.col2{
    width: 50%;
    float: left;
}
